/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}
body {
  font-size: 16px;
  font-weight: 400;
  background: #f5f2f2;
}
ul,
ol,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
a {
  display: block;
  text-decoration: none;
}
.reboot-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.text_15 {
  font-size: 15.27px;
  line-height: 20.8px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.text_16 {
  font-size: 15.97px;
  font-weight: 600;
  line-height: 21.75px;
  font-family: "Open Sans", sans-serif;
}
.text_22 {
  font-size: 22.51px;
  line-height: 30.65px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.text_30 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  font-family: "Poppins", sans-serif;
}
.text_34 {
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.text_36 {
  font-size: 36px;
  line-height: 50.16px;
  font-weight: 700;
  color: #2a323c;
  font-family: "Open Sans", sans-serif;
}
.text_48 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  font-family: "Sora", sans-serif;
}
.text_72 {
  font-size: 72px;
  line-height: 82.27px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-shadow: 2.18px 3.27px 4.36px 0px #0a193047;
  text-shadow: 0 0 #0a193047;
}

/*  main header area css start
***************************************/
.main-header-area {
  padding: 5px 0 9px 0;
}
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo a {
  display: inline-block;
}
.header-logo img {
  max-width: 89px;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  gap: 80px;
}
.menu nav ul {
  display: flex;
  align-items: center;
  gap: 46px;
}
.menu nav ul li a {
  color: #4b5a6f;
  font-size: 20px;
  line-height: 27.24px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.menu nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -2px;
  background: #1252ae;
  transition: 0.5s;
  z-index: -1;
}
.menu nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 50%;
  bottom: -2px;
  background: #1252ae;
  transition: 0.5s;
  z-index: -1;
}
.menu nav ul li a:hover::after {
  width: 50%;
  left: 0;
}
.menu nav ul li a:hover::before {
  width: 50%;
  right: 0;
}
.menu nav ul li a:hover {
  color: #1252ae;
}
.active {
  color: #1252ae !important;
}
.login ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login ul li a {
  color: #4b5a6f;
  font-size: 20px;
  line-height: 27.24px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}
.shopLogo {
  transition: all 360ms ease;
}
.shopLogo:hover {
  color: #0f6df0;
}
.menu-bar {
  display: none;
}

/* Start : Banner area css
**********************************/
.bannerArea {
  margin-bottom: 60px;
  margin-bottom: 60px;
  width: 100%;
  background: url(https://koifishusa.com/cdn/shop/files/BAnner_1800x.jpg?v=1619796195)
    no-repeat scroll center center / cover;
}
.bannerContain {
  padding: 90px 0 163px;
}
.bannerContain h6 {
  max-width: 256px;
  padding: 5px 26px;
  border: 1.09px solid #ffffff40;
  color: #ffffff;
  background: #ffffff33;
}
.bannerContain h1 {
  color: #ffffff;
  margin: 16px 0;
  max-width: 520px;
}
.bannerContain span {
  color: #f7b62b;
}
.bannerContain p {
  color: #ffffff;
  max-width: 437px;
  font-size: 16.36px;
  line-height: 22.28px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.bannerLPP {
  margin-top: 47.64px;
  max-width: 714px;
  padding: 15px 14px;
  background: #ffffff33;
  border: 1.09px solid #ffffff40;
}
.homeSearchBar {
  max-width: 122.18px;
}
.homeSearchBar a {
  color: #ffffff;
  background: #1252ae;
  padding: 11px 21.45px;
  transition: all 360ms ease;
}
.homeSearchBar a:hover {
  color: #ffffff;
  background: #003e95;
}
.homeLocation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}
.homeLocation_single_item {
  padding: 0 0 0 13px;
  display: flex;
  align-items: center;
  width: 174.55px;
  background: #ffffff;
}
.homeLocation_single_item img {
  width: 15.27px;
  height: 15.27px;
}
.homeLocation_single_item .form-select {
  font-size: 15.27px;
  font-weight: 400;
  line-height: 20.8px;
  padding: 13px 13px 13px 5px;
  color: #7a818c;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
}
.homeLocation_single_item option {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: none;
  background: #ffffff;
}

/* Start : Property Types area 
***************************************/
.PTHeading h2 {
  margin: 62.43px 0 70.73px;
  text-align: center;
  position: relative;
}
.PTHeading h2::after {
  content: "";
  position: absolute;
  left: 52.6%;
  bottom: -7px;
  width: 46px;
  height: 1.02px;
  background: #1252ae80;
}
.PTHeading h2::before {
  content: "";
  position: absolute;
  left: 57.6%;
  bottom: -7px;
  width: 20px;
  height: 1.02px;
  background: #1252ae40;
}
.PTHeading h2 span {
  color: #1252ae;
  position: relative;
}
.PTHeading h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 97%;
  height: 1.02px;
  background: #2a323c;
}
.single_PTI {
  text-align: center;
}
.single_PTI_img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102.31px;
  height: 102.31px;
  background: linear-gradient(
    140.59deg,
    rgba(18, 82, 174, 0.3) 14.56%,
    rgba(18, 82, 174, 0) 86.74%
  );
  box-shadow: 0px 6.14px 7.16px 0px #1252ae33 inset;
  border-radius: 50%;
}
.single_PTI_img img {
  width: 68.55px;
  height: 68.55px;
}
.single_PTI h4 {
  margin: 17.39px 0 9px;
}
.single_PTI p {
  padding: 4px 2px;
  max-width: 106.4px;
  margin: auto;
  font-size: 14.32px;
  font-weight: 400;
  line-height: 19.51px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: #ebeef2;
  box-shadow: 0px 2.05px 1.02px 0px #242d3c33;
  border-radius: 51.16px;
}
.propertyTypes .swiper {
  height: 280px;
}
.propertyTypesItem .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 2.05px;
}
.propertyTypesItem .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: url(../images/active\ dot.svg) no-repeat scroll center center /
    cover;
  width: 21px;
  height: 21px;
}

/* Start : Attractive offers area 
*******************************************/
.heading_AO {
  padding: 80px 0 40px 0;
  text-align: center;
}
.heading_AO p {
  margin-bottom: 9px;
  font-size: 13.76px;
  font-weight: 300;
  line-height: 18.74px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.heading_AO p::before {
  content: "";
  position: absolute;
  left: 49.4%;
  bottom: -2px;
  width: 19.11px;
  height: 0.38px;
  background: #1252ae80;
}
.heading_AO p::after {
  content: "";
  position: absolute;
  left: 51.4%;
  bottom: -2px;
  width: 7.64px;
  height: 0.38px;
  background: #1252ae40;
}
.heading_AO p span {
  color: #1252ae;
  position: relative;
}
.heading_AO p span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 116%;
  height: 0.38px;
  background: #2a323c;
}
.attractiveOffersItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22.55px;
  row-gap: 24.42px;
}
.single_AOI {
  max-width: 293.09px;
  margin: auto;
  background: #ffffff;
  border-radius: 3.76px 0px 0px 0px;
  box-shadow: 0px 1.88px 2.82px 0px #242d3c33;
}
.single_AOI_img {
  position: relative;
}
.single_AOI_img p {
  padding: 1px 9px;
  position: absolute;
  top: 9.39px;
  left: 9.39px;
  font-size: 11.27px;
  font-weight: 600;
  line-height: 15.35px;
  text-align: center;
  background: #ffffff;
  border-radius: 2.82px;
  box-shadow: 0px 1.88px 1.88px 0px #2a323c33;
  font-family: "Open Sans", sans-serif;
}
.single_AOI_img .heartIcon {
  padding: 6px;
  position: absolute;
  top: 9.39px;
  right: 9.39px;
  width: 15.03px;
  height: 15.03px;
  text-align: center;
  color: #ffffff;
  background: #2a323c33;
  border-radius: 46.97px;
  transition: all 360ms ease;
}
.single_AOI_img .heartIcon:hover {
  color: #ff0000;
  background: #171b2033;
}
.card-body p {
  margin-top: 9px;
  display: flex;
  gap: 6.58px;
  font-size: 13.15px;
  font-weight: 400;
  line-height: 17.91px;
  color: #737d8c;
}
.card-body p img {
  width: 16.91px;
  height: 16.91px;
  padding: 1.41px 2.82px 0.7px 2.82px;
}
.bedroom {
  display: flex;
  align-items: center;
  gap: 18px;
  border-bottom: 0.94px solid #dde0e5;
}
.bedroom p {
  margin: 10px 0 16px;
  font-size: 12.21px;
  font-weight: 400;
  line-height: 19.63px;
  color: #737d8c;
  font-family: "Open Sans", sans-serif;
}
.bedroom p img {
  width: 18.79px;
  height: 18.79px;
}
.bedroom img {
  width: 9.39px;
  height: 9.39px;
}
.priceAttractiveOffers {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.priceAttractiveOffers h5 {
  font-size: 17.85px;
  font-weight: 700;
  line-height: 24.31px;
  color: #1252ae;
  font-family: "Open Sans", sans-serif;
}
.viewMore {
  padding: 7px 14px;
  font-size: 14.09px;
  font-weight: 400;
  line-height: 19.19px;
  text-align: center;
  color: #2a323c;
  background: #ebeef2;
  border-radius: 3.76px;
  font-family: "Open Sans", sans-serif;
  transition: all 360ms ease;
}
.viewMore:hover {
  color: #ffffff;
  background: #1252ae;
}
.viewAll_btn {
  max-width: 231px;
  margin: 42px auto 0;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background: #2360b6;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  transition: all 360ms ease;
}
.viewAll_btn:hover {
  color: #ffffff;
  background: #307ce6;
}
.attractiveOffersItem .card-body {
  padding: 10px 19px 22px;
  height: auto;
}

/* Start : About Us area 
*******************************************/
.aboutUsArea {
  position: relative;
}
.aboutUsArea::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 364.31px;
  height: 435.44px;
  background: url(../images/aboutUs/Vector.png) no-repeat scroll center center /
    cover;
  z-index: -1;
}
.aboutUs {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-top: 100px;
}
.leftAbout {
  width: 56%;
}
.leftAboutImages {
  position: relative;
}
.leftAboutImages .image1 {
  width: 432.56px;
  height: 570.52px;
  position: absolute;
  top: 0;
  left: 0;
}
.leftAboutImages .image2 {
  width: 252.25px;
  height: 180.71px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 22px;
}
.leftAboutImages .image3 {
  width: 326.82px;
  height: 431.65px;
  position: absolute;
  top: 205px;
  bottom: 0;
  right: 0;
  border-left: 7px solid white;
}
.rightAbout {
  width: 44%;
}
.rightAboutContent h4 {
  margin-left: 37px;
  font-size: 15.38px;
  font-weight: 700;
  line-height: 24.99px;
  color: #2360b6;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.rightAboutContent h4::before {
  content: "";
  top: 7px;
  left: -37px;
  width: 19.22px;
  height: 1.92px;
  background: #2360b6;
  position: absolute;
}
.rightAboutContent h4::after {
  content: "";
  bottom: 8px;
  left: -37px;
  width: 28.84px;
  height: 1.92px;
  background: #2360b6;
  position: absolute;
}
.rightAboutContent h2 {
  max-width: 300px;
  margin: 22px 0 32px;
  color: #141422;
  font-size: 43.26px;
  font-weight: 800;
  line-height: 52.87px;
  font-family: "Manrope", sans-serif;
}
.rightAboutContent p {
  font-size: 15.38px;
  font-weight: 400;
  line-height: 26.91px;
  color: #6f6e77;
  font-family: "Roboto", sans-serif;
}
.fiveYears {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.fiveYears img {
  width: 150px;
}
.fiveYearsRight h3 {
  font-size: 57.67px;
  font-weight: 700;
  line-height: 67.29px;
  color: #141422;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: "Manrope", sans-serif;
}
.fiveYearsRight h3 span {
  font-size: 19.22px;
  font-weight: 700;
  line-height: 28.84px;
  font-family: "Manrope", sans-serif;
}
.fiveYearsRight p {
  font-size: 15.38px;
  font-weight: 400;
  line-height: 26.91px;
  color: #6f6e77;
  font-family: "Roboto", sans-serif;
}
.rightAboutUl li {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.rightAboutUl li img {
  width: 17.3px;
  height: 17.3px;
}
.rightAboutUl li p {
  font-size: 17.3px;
  font-weight: 400;
  line-height: 28.84px;
  color: #141422;
  font-family: "Roboto", sans-serif;
}
.readMoreBtn {
  margin-top: 40px;
  max-width: 178px;
  padding: 16px 32px;
  text-align: center;
  color: #fff;
  background: #2360b6;
  border-radius: 3.84px;
  transition: all 360ms ease;
}
.readMoreBtn:hover {
  color: #fff;
  background: #1b75f4;
}

/* Start : Frequently searched location area 
***********************************************/
.freSearchedLocations {
  padding: 20px 0 0 0;
}
.freSearchedText p {
  max-width: 160px;
  margin: 0 auto 9px;
  font-size: 13.76px;
  font-weight: 300;
  line-height: 18.74px;
  color: #2a323c;
  font-family: "Sora", sans-serif;
  position: relative;
}
.freSearchedText p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 57.33px;
  height: 0.38px;
  background: #2a323c;
}
.freSearchedText p::after {
  content: "";
  position: absolute;
  left: 74px;
  bottom: -2px;
  width: 19.11px;
  height: 0.38px;
  background: #1252ae80;
}
.freSearchedText span::after {
  content: "";
  position: absolute;
  right: 50px;
  bottom: -2px;
  width: 7.64px;
  height: 0.38px;
  background: #1252ae40;
}
.freSearchedLocations h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: #2a323c;
  text-align: center;
  padding-bottom: 42px;
}
.freSearchedLocations h3 span {
  color: #2360b6;
}
.allImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}
.allImages > div:nth-of-type(2) {
  grid-row: span 2;
}
.singleImage {
  position: relative;
}
.singleImage div {
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 50;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.849),
    rgba(0, 0, 0, 0)
  ) !important;
}
.singleImage div p {
  padding: 25px;
  font-size: 17px;
  font-weight: 600;
}
.contactUsBtn {
  padding: 17px 64px;
  color: white;
  background-color: #2360b6;
  border: none;
  max-width: 231px;
  width: 100%;
  margin: 42px auto 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  transition: all 360ms ease;
}
.contactUsBtn:hover {
  color: white;
  background-color: #1f7cfd;
}

/* Start : Benefits Property area 
***************************************/
.benefitsProperty {
  padding-top: 90px;
}
.contain_BP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_benefitsProperty_left h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #2360b6;
  font-family: "Poppins", sans-serif;
}
.single_benefitsProperty_left h2 {
  margin: 16px 0 20px;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #333333;
  font-family: "Sora", sans-serif;
}
.single_benefitsProperty_left .text_16 {
  max-width: 471px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
.benefitsPropertyList {
  margin: 43px 0 65px;
}
.benefitsPropertyList li {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 36px;
}
.benefitsPropertyList li img {
  width: 17px;
}
.buyNowBtn {
  max-width: 231px;
  padding: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background: #2360b6;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  transition: all 360ms ease;
}
.buyNowBtn:hover {
  color: #ffffff;
  background: #1871ed;
}
.single_benefitsProperty_right {
  position: relative;
}
.single_benefitsProperty_right img {
  max-width: 630px;
}
.coundproperties {
  position: absolute;
  bottom: 48px;
  left: 48px;
  width: 84%;
  margin: auto;
  padding: 38px 33px;
  display: flex;
  gap: 15%;
  align-items: center;
  border-radius: 22px;
  box-shadow: 10px 14px 74px 0px #025c8a45;
  background: linear-gradient(
    125.01deg,
    rgba(0, 0, 0, 0.45) 29.4%,
    rgba(0, 0, 0, 0) 97.93%
  );
}
.coundproperties h4 {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.benefitsSingleImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.benefitsSingleImg img {
  width: 60px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.benefitsImg_2 {
  position: absolute;
  left: 22px;
}
.benefitsImg_3 {
  position: absolute;
  left: 46px;
}
.benefitsImg_4 {
  position: absolute;
  left: 68px;
}

/* Start : selling a property area 
***************************************/
.sellingAProperty {
  padding-top: 120px;
}
.sellingAPropertyContain {
  margin: auto;
  padding: 105px 60px 113px;
  background: url(../images/selling-a-property.png) no-repeat scroll center
    center / cover;
  text-align: center;
}
.sellingAPropertyContain h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #f5f2f2;
  font-family: "Poppins", sans-serif;
}
.sellingAPropertyContain h2 {
  margin: 16px 0;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #f5f2f2;
  font-family: "Sora", sans-serif;
}
.sellingAPropertyContain p {
  max-width: 970px;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #f5f2f2;
  font-family: "Poppins", sans-serif;
}
.sellNowBtn {
  max-width: 231px;
  margin: 23px auto 0;
  padding: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
  background: #2360b6;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  transition: all 360ms ease;
}
.sellNowBtn:hover {
  color: #ffffff;
  background: #1871ed;
}

/* Start : faq Questions area 
***************************************/
.faqQuestions {
  padding: 100px 0 0;
}
.faqQuestionsContain {
  max-width: 970px;
  margin: auto;
}
.headingFaqQ {
  text-align: center;
  color: #333333;
}
.headingFaqQ p {
  max-width: 769px;
  margin: 24px auto 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}
.faqQuestionsContain .accordion-item {
  background: #fff;
  padding: 20px 50px;
  border-radius: 8px;
  margin-bottom: 32px;
}
.faqQuestionsContain .accordion-item h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  color: #333333;
  font-family: "Sora", sans-serif;
}
.faqQuestionsContain .accordion-item p {
  max-width: 572px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
.faqQuestionsContain .accordion-item:has(.accordion-button:not(.collapsed)) {
  border-color: transparent;
  padding-bottom: 0;
  background: #e6edf8;
  padding: 20px 50px 32px;
  border-radius: 8px;
}
.faqQuestionsContain .accordion-body {
  padding: 14px 0 32px;
}
.faqQuestionsContain .accordion {
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: 0;
  /* --bs-accordion-btn-padding-y: 48px; */
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  /* --bs-accordion-border-width: 0; */
  --bs-accordion-active-color: var(--text);
  --bs-accordion-active-bg: transparent;
  --bs-accordion-color: var(--text);
  --bs-accordion-bg: var(--background);
  --bs-accordion-border-color: var(var(--primary_light));
  --bs-accordion-btn-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
  --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
  --bs-accordion-btn-icon-width: 2rem;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 0;
}
.faqQuestionsContain .accordion-item {
  border-color: transparent transparent var(--bs-accordion-border-color)
    transparent;
}
.faqQuestionsContain .accordion-item:last-of-type {
  border-color: transparent;
}
.faqQuestionsContain .accordion-item:has(.accordion-button:not(.collapsed)) {
  border-color: transparent;
  padding-bottom: 0;
}
.faqQuestionsContain .accordion-button {
  gap: 1rem;
}
.faqQuestionsContain .accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* Start : Clients About Us
***************************************/
.clientsAboutUs {
  padding: 100px 0 0;
}
.clientsAboutUsContain h2 {
  color: #333333;
}
.card_CAU {
  padding: 50px 0 132px 0;
}
.swiperBtnPN .swiper-button-next,
.swiper-button-prev {
  top: 83%;
}
.swiperBtnPN .swiper-button-next {
  left: 52%;
  width: 46px;
  height: 46px;
  color: #ffffff;
  background: #1252ae;
  border-radius: 50%;
  transition: all 360ms ease;
}
.swiperBtnPN .swiper-button-next:hover {
  color: #ffffff;
  background: #126be7;
}
.swiperBtnPN .swiper-button-prev {
  left: 47%;
  width: 46px;
  height: 46px;
  color: #333333;
  background: #ffffff;
  border: 2px solid #1252ae;
  border-radius: 50%;
  transition: all 360ms ease;
}
.swiperBtnPN .swiper-button-prev:hover {
  color: #ffffff;
  background: #126be7;
}
.swiperBtnPN .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px;
}
.swiper-slide.singleCard_CAU.swiper-slide-next {
  margin-bottom: 40px;
}
.singleCard_CAU {
  width: 400px;
  margin: auto;
  display: flex;
  gap: 12px;
  padding: 13px 14px 14px;
  border-radius: 12px;
  background: #ffffff;
}
.singleCard_CAU_img img {
  width: 59px;
}
.singleCard_CAU_text {
  max-width: 301px;
  font-family: "Montserrat", sans-serif !important;
}
.singleCard_CAU_text h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}
.singleCard_CAU_text h6 {
  margin-top: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #333333;
}
.singleCard_CAU_text p {
  margin: 16px 0 21px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
}
.singleCard_CAU_text span {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #333333;
}

/* Start : Our Newsletters area
***************************************/
.ourNewsletters {
  padding: 107px 0;
  background: #ffffff;
}
.headerOurNews {
  color: #333333;
  text-align: center;
}
.headerOurNews p {
  margin: 16px 0 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
.ourNewsForm {
  max-width: 859px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.ourNewsForm .formBox1 {
  width: 100%;
  max-width: 303px;
}
.ourNewslettersContain label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #999999;
  font-family: "Poppins", sans-serif;
}
.ourNewslettersContain .form-control {
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  background-color: #fff;
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #999999;
}
.ourNewslettersContain .form-control:focus {
  border-color: #999999;
  outline: 0;
  box-shadow: none;
}
.ourNews_btn {
  max-width: 175px;
  margin: auto;
  padding: 12px 47px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #1252ae;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  transition: all 360ms ease;
}
.ourNews_btn:hover {
  color: #ffffff;
  background: #0f6df0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Start : Footer area 
*********************************/
.footer_area {
  padding-top: 59px;
  background: #e6e6e6;
  font-family: "Inter", sans-serif !important;
}
.footerText_22 {
  color: #333333;
  font-size: 22.86px;
  font-weight: 700;
  line-height: 33.76px;
  font-family: "Poppins", sans-serif;
}
.footerLogo img {
  max-width: 140px;
  margin: auto;
}
.footerLogo p {
  margin-top: 6px;
  max-width: 183.81px;
  color: #333333;
  font-size: 13.33px;
  font-weight: 400;
  line-height: 19.05px;
  text-align: justify;
}
.footerExplore {
  margin-top: 19.33px;
}
.footerExplore li {
  margin-bottom: 7.48px;
}
.footerExplore li a {
  display: inline;
  color: #333333;
  font-size: 15.24px;
  font-weight: 500;
  line-height: 22.86px;
  font-family: "Poppins", sans-serif;
  transition: all 360ms ease;
}
.footerExplore li a:hover {
  color: #867575;
}
.footerApp {
  margin-top: 13.62px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footerApp img {
  max-width: 118px;
}
.footerSocial ul {
  margin-top: 16px;
  display: flex;
  gap: 15px;
}
.footerSocial ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 8px;
  color: #333333;
  border-radius: 50%;
  transition: all 360ms ease;
}
.footerSocial ul li a:hover {
  color: #ffffff;
  background: #003e95;
}
.footerSocial ul li a .f_Icon {
  width: 20px;
  height: 20px;
}
.copyright {
  font-size: 13.33px;
  font-weight: 400;
  line-height: 16.14px;
  padding: 58px 0 14px;
  text-align: center;
  color: #333333;
}
